nav {
  margin: auto;
  max-width: 1440px;
}
nav .container-fluid {
  background-color: rgb(255, 114, 62);
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
nav .blogs {
  margin-right: 50px;
}
nav .ofiic {
  display: flex;
  gap: 10px;
  text-align: center;
}
nav .nav-link {
  list-style: none;
}
@media screen and (max-width: 768px) {
  nav .navalin {
    display: none;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.invest {
  max-width: 1440px;
  margin: auto;
  background-color: rgb(85, 83, 83);
  display: flex;
  justify-content: space-around;
}
.invest .blochain {
  display: flex;
}
.invest .blochain h1 {
  color: rgb(218, 121, 85);
  font-size: 20px;
}
.invest .blochain p {
  color: white;
  font-size: 16px;
}
.invest .registr {
  display: flex;
  gap: 20px;
  align-items: center;
}
.invest .registr p {
  color: white;
  font-size: x-small;
}
.invest .registr .registr {
  color: white;
}
.invest .registr a {
  list-style: none;
  text-decoration: none;
  text-align: center;
}
.invest .registr .btc {
  color: white;
  font-size: x-small;
}
.invest .registr .login {
  color: orangered;
  font-size: x-small;
}

.slide {
  margin: auto;
  max-width: 1440px;
}

.bitcoin {
  margin: auto;
  max-width: 1440px;
  display: flex;
  padding: 25px;
}
.bitcoin .morbi {
  display: flex;
}
.bitcoin .selbitcoin {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bitcoin p {
  max-width: 60%;
}
.bitcoin button {
  background-color: rgb(228, 121, 82);
  border-radius: 8px;
  border: none;
  width: 120px;
}
@media screen and (max-width: 768px) {
  .bitcoin .morbi {
    display: flex;
    flex-direction: column;
  }
  .bitcoin .morbi img {
    max-width: 100%;
  }
}

.exchange {
  padding: 80px;
  max-width: 1440px;
  margin: auto;
  display: flex;
}
.exchange .respon {
  display: flex;
}
.exchange p {
  max-width: 60%;
}
.exchange a {
  list-style: none;
  text-decoration: none;
  color: black;
}
.exchange .read {
  max-width: 32%;
}
@media screen and (max-width: 768px) {
  .exchange .respon {
    display: flex;
    flex-direction: column;
  }
  .exchange .respon .read {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .exchange .respon .read p {
    max-width: 50%;
  }
}

.take {
  background-color: rgb(238, 238, 238);
  max-width: 1440px;
  margin: auto;
  padding: 20px;
}
.take .sekil {
  display: flex;
  gap: 20px;
}
.take .lookat {
  padding: 20px;
  text-align: center;
}
.take .create img {
  max-width: 100%;
}
.take .create p {
  max-width: 80%;
}
@media screen and (max-width: 768px) {
  .take .sekil {
    display: flex;
    flex-direction: column;
  }
  .take .sekil .create {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.latest {
  max-width: 1440px;
  margin: auto;
  padding: 20px;
}
.latest .lattek {
  text-align: center;
}
.latest .whole-card {
  display: flex;
  gap: 25px;
}
.latest .whole-card img {
  max-width: 100%;
}
.latest .newcard {
  background-color: rgb(240, 240, 240);
  max-width: 32%;
}
.latest .newcard h1 {
  font-size: 20px;
}
.latest .newcard a {
  list-style: none;
  text-decoration: none;
  background-color: rgb(255, 141, 99);
  color: white;
}
@media screen and (max-width: 768px) {
  .latest .whole-card {
    display: flex;
    flex-direction: column;
  }
  .latest .whole-card .newcard {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 100%;
  }
  .latest .whole-card .newcard img {
    width: 100%;
  }
}

footer {
  max-width: 1440px;
  margin: auto;
  background-color: #212529;
  padding: 30px;
}
footer p {
  color: rgb(219, 219, 219);
}
footer a {
  list-style: none;
  text-decoration: none;
}
footer .byfoot {
  display: flex;
  gap: 10px;
}
footer .homes {
  display: flex;
  justify-content: center;
}
footer ul {
  display: flex;
  align-items: center;
  color: white;
  list-style: none;
  gap: 20px;
}
footer ul li {
  text-align: center;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  footer ul li {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */